@import "../node_modules/normalize.css/normalize.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** =============== RESET ================ **/

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/** =============== FONTS ================ **/

@font-face {
  font-display: swap;
  font-family: "MacPawFixelDisplay-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/MacPawFixelDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "MacPawFixelDisplay-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/MacPawFixelDisplay-Medium.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "MacPawFixelDisplay-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/MacPawFixelDisplay-SemiBold.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "MacPawFixelDisplay-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/MacPawFixelDisplay-Bold.otf") format("opentype");
}
